extends base
block headextra
	link(rel='stylesheet', href='stylesheets/annotation.css')
	link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
	script(src='javascripts/jquery-ui.min.js')
	script(src='javascripts/annotation.js')
block bodyextra
	#mask-layer
	#anno-field(annotator='#{annotator}', file='#{file}', dataset='#{dataset}')
		ul#doc-list
			- each doc in docs
				li.doc-item(id='#{doc.id}')
					.doc-meta #{doc.id} | #{doc.postedTime}
					.doc-body= doc.body
					.doc-anno.noselect
						.doc-anno-btns
							span.doc-anno-btn.na(value='nm', id='#{doc.id}') non-moral
							span.doc-anno-btn(value='care', id='#{doc.id}') care
							span.doc-anno-btn(value='harm', id='#{doc.id}') harm
							span.doc-anno-btn(value='fairness', id='#{doc.id}') fairness
							span.doc-anno-btn(value='cheating', id='#{doc.id}') cheating
							span.doc-anno-btn(value='loyalty', id='#{doc.id}') loyalty
							span.doc-anno-btn(value='betrayal', id='#{doc.id}') betrayal
							span.doc-anno-btn(value='authority', id='#{doc.id}') authority
							span.doc-anno-btn(value='subversion', id='#{doc.id}') subversion
							span.doc-anno-btn(value='purity', id='#{doc.id}') purity
							span.doc-anno-btn(value='degradation', id='#{doc.id}') degradation
						.doc-anno-issue-wrapper
							lable.doc-anno-issue-label issue: 
							input.doc-anno-issue(type='text' id='#{doc.id}')
			p#anno-end = End of this batch =
		#anno-operation
			#anno-info
				.anno-info-item
					span.anno-info-item-key Annotator:
					span.anno-info-item-value= annotator
				.anno-info-item
					span.anno-info-item-key Source:
					span.anno-info-item-value= file
			button#next(type='button') Next Batch
			button#return(type='button', annotator='#{annotator}', dataset='#{dataset}') Return
