extends base
block headextra
	link(rel='stylesheet', href='stylesheets/index.css')
	script(src='javascripts/ui.js')
block bodyextra
	#main
		#file-table-wrapper
			table#file-table
				tr#file-table-header
					th Filename
					th Size
					th Tweet Number
					th Progress
					th Operation
				- each file_stats in annotator_data_stats
					tr.file-table-row
						td #[img.file-icon(src='images/file_icon.png')]#{file_stats.name}
						td #{file_stats.size}MB
						td #{file_stats.doc}
						td
							.progress-bar-wrapper
								.progress-bar(progress='#{file_stats.annotated}')
								.progress-bar-text #{file_stats.annotated}/#{file_stats.doc}
						td
							a(href='/annotation?file=#{file_stats.name}&annotator=#{annotator}') Annotate
